@charset "utf-8";
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/*************************
        default
**************************/

body,h1,h2,h3,h4,h5,h6,p{
    margin: 0 auto;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    border: 0;
}
a{
    text-decoration: none;
    color: #000;
    outline: none;
    border: none;
}

#wrap{
    width: 100%;
}


button:focus {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background: transparent;
    resize: none;
}


.cf:after {
    content: "";
    display: block;
    clear: both;
}

/*******container**********/
#container{}

/**/
.tabs{
    width: 100%;
    border-bottom: 1px solid #eeeeee;
}
.tabs li{
    width: 50%;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
}
.tabs li{
    display: block;
    font-size: 20px;
    color: #959595;
    font-size: 14px;
}
.tabs li.active{
    border-bottom: 2px solid #F6E820;
    color: #000;
    z-index: 10;
}
.slick-next slick-arrow{
    display: none;
}

/**/
.tab_container{}

.tab_content{}

#tab1{}
.tabnav{
    width: 100%;
    overflow: hidden;
    background: #f9f9f9;
}
.slider-nav{
    width: 100%;
/*     height: 130px;*/
}
.slider-nav .cafe_name{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}
.slider-nav .cafe_name:focus {
  outline: none;
}
.slider-nav .cafe_name p{
    width: 75px;
    height: 70px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #cccccc;
    
}
.slider-nav .cafe_name p img{
    width: 30px;
    margin-left: 23px;
    padding-top: 10px;
    
}
.slider-nav .cafe_name p span{
    display: block;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

.slider-for{
    width: 100%;
}
.cafeBox1{}
.menuBox{
    width:100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    box-sizing: border-box;
}
.menuBox .imgBox,.menuBox .textBox{
    float: left;
}
.menuBox .imgBox{
    width: 30%;
    padding-left: 10%;
    box-sizing: border-box;
}
.menuBox .imgBox img{
    width: 35px;
    display: block;
    text-align: center;
}
.menuBox .textBox{
    width: 70%;
}
.textBox p{
    padding-bottom: 3px;
}
.textBox .coinBox{}
.textBox .coinBox img,.textBox .coinBox p{
    float: left;
}
.textBox .coinBox img{
    margin-top: 2px;
    margin-right: 5px;
}
.textBox .coinBox p{
    font-size: 14px;
}


#tab2{}
.autoplay{
    width: 500px;
    height: 100px;
    overflow: hidden;
}
.autoplay div{
    width: 100%;
    height: 100%;
    float: left;
}
.autoplay div img{
    width: 30%;
    height: 100%;
}















